.Sidebar {
  background: #171717;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  height: 100vh;
  .selected-nav{
    border-left: 3px solid #7194fd;
    svg{
      color: #7194fd !important;
    }
  }
  .nav-box {
    background: transparent;
    width: 60px;
    height: 50px;
    justify-content: center;
    svg {
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: gray;
    }
  }
  
}
.nav-box,
.Sidebar {
  display: flex;
  align-items: center;
}
